div > p {
    color:rebeccapurple
}

.fundo-azul > p {
    background: lightblue;
}

.fundo-verde > p {
    background: lightgreen;
}

div + p {
    color:tomato
}

.fundo-verde + p {
    background: pink;
}

div ~ p {
    color: red;
}