div {
    width: 200px;
    height: 250px;

    margin:20px;
    padding: 20px
}

#elemento-01 {
    background: orange;
    box-sizing: border-box;
    
}

#elemento-02 {
    background: purple;
    margin-top: 20 px;
    margin-left: 40px;
    margin-right: 80px;
    box-sizing: content-box;

}
#elemento-03 {
    background:lightblue;
    margin:100px auto;
}