.fundo-verde p ~ p {
    background: lightgreen;
}
button {
    background: lightblue;
    width: initial;
    height: auto;
}

#div-01 {
    background: lightblue;
    width: 200px;
    height: 200px;
}

#div-02 {
    background: lightgreen;
    height: inherit;

}

button {
    background: pink;
    max-width: 500px;
    min-height: 300px;
}

