p, div {    
    color: red;
    background: lightblue;
}

.texto, h1, #link-referencia {
    color: blue;
}

h1, [id^="botao"] {
    background: lightcoral;
}

p.texto {
    color:blueviolet
}

li li{
    color:green
}

#lista-01 li {
    color: lightcoral;
}

.fundo-verde li {
    background: lightgreen;
}

.fundo-azul li {
    background: lightblue;
}

#lista-02 li {
    color: black;
}

