h1 {
    background: darkblue;
    color: lightgreen;
}

div {
    background: lightblue;
}

li {
    color: darkblue;
}

#explicacao-seletores {
    background: red;
    color: white;
}

.seletores-mais-comuns {
    color: red;
}

.texto-maiusculo {
    text-transform: uppercase;
}

* {
    font-weight: bold;
}

[title~="Streaming"] {
    background: red;

}

[title|="Streaming"] {
    color: pink
}

[title="Spotify"] {
    color: green
}

[title="Prime"] {
    color: lightblue
}

[href^="http://"] {
    background: lightgreen;
}

[href$="login"] {
    background: darkred;
}

[href*="prime"] {
    background-color: blueviolet;
}
